.box{
    border: 0px solid;
    width: 25%;

}

.page{
    margin: 10px 25px;
    padding: 10px 25px;
}

.categoryLabel{
    margin: 25px;
}

.category{
    display: flex;
    flex-wrap: wrap;
}

.pic{
    height: 100px;
    width: 100px;
}